.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.25rem;
    color: #007bff;
}

.card-body p {
    font-size: 1rem;
    color: #555;
}
.container h4 {
    color: #007bff;
    font-weight: bold;
}

.container p {
    color: #555;
    font-size: 1rem;
}